.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.status-icon mat-icon {
  height: 150px !important;
  width: 150px !important;
  font-size: 106px !important;
}

.status-icon fa {
  height: 150px !important;
  width: 150px !important;
  font-size: 106px !important;
}

.status {
  text-align: center;
  font-size: 27px;
  font-family: sans-serif;
  padding: 50px 50px 50px 50px;
}

.status-message {

}

.content {
  margin-left: 10px;
}

.status-active {
  background-color: #28b346;
}

.status-error {
  background-color: #ef2e2e;
}

mat-chip-list {
  display: inline-block;
}

.button-delete {
  margin-top: -15px;
  margin-right: 10px;
}
