th.mat-sort-header-sorted {
  color: black;
}

table {
  width: 100%;
}

.list {
  overflow-y: auto;
  padding-left: 2px;
  padding-right: 2px;
}

mat-grid-tile ::ng-deep .mat-figure {
  display: block !important;
}

.align-right {
  float: right;
}

.positive {
  background-color: #76e28d;
}

.negative {
  background-color: #e27676;
}

.neutral {
  background-color: #fdf3dd;
}

.winners {
  background-color: #27b131;
}

.processed {
  background-color: coral;
}

.status-icon mat-icon {
  height: 60px !important;
  width: 60px !important;
  font-size: 60px !important;
}

.status-icon fa {
  height: 60px !important;
  width: 60px !important;
  font-size: 60px !important;
}

.status {
  text-align: center;
  font-size: 27px;
  font-family: sans-serif;
  padding: 50px 50px 50px 50px;
}

.status-message {

}

.button-refresh {
  margin-top: -15px;
  margin-right: 10px;
}

mat-tab-group ::ng-deep mat-tab-body ::ng-deep .button-refresh {
  margin-top: -15px;
  margin-right: 10px;
}

.button-delete {
  margin-top: -15px;
  margin-right: 10px;
}

.button-delete-tab {
  position: absolute;
  right: 10px;
  top: 8px;
  z-index: 2;
}

.button-refresh-tab {
  position: absolute;
  right: 60px;
  top: 8px;
  z-index: 2;
}

.demo-tab-content {
  overflow-x: hidden;
}

mat-tab-group ::ng-deep mat-tab-header {
  background-color: #f3da2ddb;
  height: 60px;
}

mat-tab-group ::ng-deep mat-tab-header .mat-tab-label {
  height: 60px;
}
