th.mat-sort-header-sorted {
  color: black;
}

table {
  width: 100%;
}

.list {
  background: lightblue;
  overflow-y: auto;
  padding-left: 2px;
  padding-right: 2px;
}

mat-grid-tile ::ng-deep .mat-figure {
  display: block !important;
}

.align-right {
  float: right;
}

.positive {
  background-color: #76e28d;
}

.negative {
  background-color: #e27676;
}

.neutral {
  background-color: #fdf3dd;
}

.processed {
  background-color: coral;
}

.status-icon mat-icon {
  height: 150px !important;
  width: 150px !important;
  font-size: 106px !important;
}

.status-icon fa {
  height: 150px !important;
  width: 150px !important;
  font-size: 106px !important;
}

.status {
  text-align: center;
  font-size: 27px;
  font-family: sans-serif;
  padding: 50px 50px 50px 50px;
}

.status-message {

}
